In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import pickle

# Load dataset
movies = pd.read_csv(r"C:\Users\nivi1\Downloads\dataset.csv")
print(movies.head(10))
print(movies.describe())
print(movies.info())
print(movies.isnull().sum())
print(movies.columns)

         id                        title                     genre  \
0     278.0     The Shawshank Redemption               Drama,Crime
1   19404.0  Dilwale Dulhania Le Jayenge      Comedy,Drama,Romance
2     238.0                The Godfather               Drama,Crime
3     424.0             Schindler's List         Drama,History,War
4     240.0       The Godfather: Part II               Drama,Crime
5  667257.0            Impossible Things              Family,Drama
6     129.0                Spirited Away  Animation,Family,Fantasy
7  730154.0               Your Eyes Tell             Romance,Drama
8  372754.0     Dou kyu sei – Classmates         Romance,Animation
9  372058.0                   Your Name.   Romance,Animation,Drama

  original_language                                           overview  \
0                en  Framed in the 1940s for the double murder of h...
1                hi  Raj is a rich, carefree, happy-go-lucky second...
2                en  Spanning the years 1945 to 1955, a chronicle o...
3                en  The true story of how businessman Oskar Schind...
4                en  In the continuing saga of the Corleone crime f...
5                es  Matilde is a woman who, after the death of her...
6                ja  A young girl, Chihiro, becomes trapped in a st...
7                ja  A tragic accident lead to Kaori's blindness, b...
8                ja  Rihito Sajo, an honor student with a perfect s...
9                ja  High schoolers Mitsuha and Taki are complete s...

   popularity release_date  vote_average  vote_count
0      94.075   1994-09-23           8.7       21862
1      25.408   1995-10-19           8.7        3731
2      90.585   1972-03-14           8.7       16280
3      44.761   1993-12-15           8.6       12959
4      57.749   1974-12-20           8.6        9811
5      14.358   2021-06-17           8.6         255
6      92.056   2001-07-20           8.5       13093
7      51.345   2020-10-23           8.5         339
8      14.285   2016-02-20           8.5         239
9     158.270   2016-08-26           8.5        8895
                  id    popularity  vote_average    vote_count
count    9999.000000  10000.000000  10000.000000  10000.000000
mean   161196.094409     34.697267      6.621150   1547.309400
std    211379.451428    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.500000      9.154750      6.100000    315.000000
50%     29987.000000     13.637500      6.600000    583.500000
75%    310132.000000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 9999 non-null   float64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 703.2+ KB
None
id                    1
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64
Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [2]:
# Selecting required columns
movies = movies[['id', 'title', 'overview', 'genre']]
print(movies)

            id                                          title  \
0        278.0                       The Shawshank Redemption
1      19404.0                    Dilwale Dulhania Le Jayenge
2        238.0                                  The Godfather
3        424.0                               Schindler's List
4        240.0                         The Godfather: Part II
...        ...                                            ...
9995   10196.0                             The Last Airbender
9996  331446.0                       Sharknado 3: Oh Hell No!
9997   13995.0                                Captain America
9998    2312.0  In the Name of the King: A Dungeon Siege Tale
9999  455957.0                                         Domino

                                               overview  \
0     Framed in the 1940s for the double murder of h...
1     Raj is a rich, carefree, happy-go-lucky second...
2     Spanning the years 1945 to 1955, a chronicle o...
3     The true story of how businessman Oskar Schind...
4     In the continuing saga of the Corleone crime f...
...                                                 ...
9995  The story follows the adventures of Aang, a yo...
9996  The sharks take bite out of the East Coast whe...
9997  During World War II, a brave, patriotic Americ...
9998  A man named Farmer sets out to rescue his kidn...
9999  Seeking justice for his partner’s murder by an...

                                                 genre
0                                          Drama,Crime
1                                 Comedy,Drama,Romance
2                                          Drama,Crime
3                                    Drama,History,War
4                                          Drama,Crime
...                                                ...
9995                          Action,Adventure,Fantasy
9996  Action,TV Movie,Science Fiction,Comedy,Adventure
9997                        Action,Science Fiction,War
9998                    Adventure,Fantasy,Action,Drama
9999                             Thriller,Action,Crime

[10000 rows x 4 columns]

In [3]:
# Create new column 'tags'
movies['tags'] = movies['overview'] + movies['genre']
print(movies)

            id                                          title  \
0        278.0                       The Shawshank Redemption
1      19404.0                    Dilwale Dulhania Le Jayenge
2        238.0                                  The Godfather
3        424.0                               Schindler's List
4        240.0                         The Godfather: Part II
...        ...                                            ...
9995   10196.0                             The Last Airbender
9996  331446.0                       Sharknado 3: Oh Hell No!
9997   13995.0                                Captain America
9998    2312.0  In the Name of the King: A Dungeon Siege Tale
9999  455957.0                                         Domino

                                               overview  \
0     Framed in the 1940s for the double murder of h...
1     Raj is a rich, carefree, happy-go-lucky second...
2     Spanning the years 1945 to 1955, a chronicle o...
3     The true story of how businessman Oskar Schind...
4     In the continuing saga of the Corleone crime f...
...                                                 ...
9995  The story follows the adventures of Aang, a yo...
9996  The sharks take bite out of the East Coast whe...
9997  During World War II, a brave, patriotic Americ...
9998  A man named Farmer sets out to rescue his kidn...
9999  Seeking justice for his partner’s murder by an...

                                                 genre  \
0                                          Drama,Crime
1                                 Comedy,Drama,Romance
2                                          Drama,Crime
3                                    Drama,History,War
4                                          Drama,Crime
...                                                ...
9995                          Action,Adventure,Fantasy
9996  Action,TV Movie,Science Fiction,Comedy,Adventure
9997                        Action,Science Fiction,War
9998                    Adventure,Fantasy,Action,Drama
9999                             Thriller,Action,Crime

                                                   tags
0     Framed in the 1940s for the double murder of h...
1     Raj is a rich, carefree, happy-go-lucky second...
2     Spanning the years 1945 to 1955, a chronicle o...
3     The true story of how businessman Oskar Schind...
4     In the continuing saga of the Corleone crime f...
...                                                 ...
9995  The story follows the adventures of Aang, a yo...
9996  The sharks take bite out of the East Coast whe...
9997  During World War II, a brave, patriotic Americ...
9998  A man named Farmer sets out to rescue his kidn...
9999  Seeking justice for his partner’s murder by an...

[10000 rows x 5 columns]

In [4]:
# Drop unnecessary columns
new_data = movies.drop(columns=['overview', 'genre'])
print(new_data)

            id                                          title  \
0        278.0                       The Shawshank Redemption
1      19404.0                    Dilwale Dulhania Le Jayenge
2        238.0                                  The Godfather
3        424.0                               Schindler's List
4        240.0                         The Godfather: Part II
...        ...                                            ...
9995   10196.0                             The Last Airbender
9996  331446.0                       Sharknado 3: Oh Hell No!
9997   13995.0                                Captain America
9998    2312.0  In the Name of the King: A Dungeon Siege Tale
9999  455957.0                                         Domino

                                                   tags
0     Framed in the 1940s for the double murder of h...
1     Raj is a rich, carefree, happy-go-lucky second...
2     Spanning the years 1945 to 1955, a chronicle o...
3     The true story of how businessman Oskar Schind...
4     In the continuing saga of the Corleone crime f...
...                                                 ...
9995  The story follows the adventures of Aang, a yo...
9996  The sharks take bite out of the East Coast whe...
9997  During World War II, a brave, patriotic Americ...
9998  A man named Farmer sets out to rescue his kidn...
9999  Seeking justice for his partner’s murder by an...

[10000 rows x 3 columns]

In [5]:
# Text vectorization
cv = CountVectorizer(max_features=10000, stop_words='english')
vector = cv.fit_transform(new_data['tags'].values.astype('U')).toarray()
print(vector.shape)

(10000, 10000)

In [6]:

# Cosine similarity
similarity = cosine_similarity(vector)
print(similarity)

[[1.         0.05634362 0.12888482 ... 0.07559289 0.11065667 0.06388766]
 [0.05634362 1.         0.07624929 ... 0.         0.03636965 0.        ]
 [0.12888482 0.07624929 1.         ... 0.02273314 0.06655583 0.08645856]
 ...
 [0.07559289 0.         0.02273314 ... 1.         0.03253    0.02817181]
 [0.11065667 0.03636965 0.06655583 ... 0.03253    1.         0.0412393 ]
 [0.06388766 0.         0.08645856 ... 0.02817181 0.0412393  1.        ]]

In [7]:
# Example index lookup
print(new_data[new_data['title'] == "The Godfather"].index[0])

2

In [8]:
# Show top 5 recommendations for "The Godfather"
distance = sorted(list(enumerate(similarity[2])), reverse=True, key=lambda vector: vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [10]:
# Recommender function
def recommand(movies):
    index = new_data[new_data['title'] == movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda vector: vector[1])
    for i in distance[0:5]:
        print(new_data.iloc[i[0]].title)

In [11]:
# Test the recommender
recommand("Iron Man")

# Save files with pickle
pickle.dump(new_data, open('movies_list.pkl', 'wb'))
pickle.dump(similarity, open('similarity_list.pkl', 'wb'))

Iron Man
Iron Man 3
Guardians of the Galaxy Vol. 2
Avengers: Age of Ultron
Star Wars: Episode III - Revenge of the Sith